@mixin make-grid-columns($columns) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    @for $i from 1 through $columns {
        $width: percentage($i / $columns);
        $num: $i / $columns;
        .col-#{$i} {
            width: $width;
            flex: 0 0 auto;
        }
        .col-offset-#{$i} {
            margin-left: if($num == 0, 0, percentage($num));
        }
    }

    @include breakpoint('mobile') {
        [class*="col-"] {
            width: 100%;
        }
        [class*="col-offset-"] {
            margin-left: 0;
        }
    }
}

@mixin breakpoint($breakpoint) {
    @if $breakpoint == "mobile" {
        @media only screen and (max-width: 768px) {
            @content;
        }
    } @else if $breakpoint == "tablet" {
        @media only screen and (min-width: 768px) and (max-width: 992px) {
            @content;
        }
    } @else if $breakpoint == "desktop" {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }
}

@mixin border-radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    border-radius: $size;
}
