.section-products {
    background: linear-gradient(90deg, #f2f4f1 75%, #dce1da 25%);
    padding-top: 100px;
    padding-bottom: 100px;
}

.products-content {
    @extend .container;
    
    height: 552px;
    background-image: url("../img/section3-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.products-cards {
    background-color: $color-primary;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 470px;
    height: 304px;
    padding: 50px;
    color: #ffffff;
}

.products-cards h3,
.products-cards h2 {
    color: #ffffff;
    line-height: 1;
}

.products-cards h3 {
    margin: 0;
    padding-bottom: 0;
    font-size: 16px;
}

.products-cards h2 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 0;
    font-size: 39px;
}

.products-card-navs {
    position: absolute;
    bottom: 50px;
    right: 50px;
}
