.section-services {
    @extend .section;

    padding-top: 13em;
    background-image: url("../img/section4-image.png");
    // background-size: 52% auto;
    background-position: right;
    background-repeat: no-repeat;
    max-height: 768px;
    min-height: auto;
    padding: 0;

    .container, .row {
        height: 100%;
    }

    .row {
        align-items: center;
    }

    .accordion {
        background-color: #fff;
        @include border-radius(4px 0);

        .accordion-header {
            .accordion-button {
                position: relative;/*  */
                padding: 20px;
                color: #5F6368;
                font-size: 1.6rem;
                width: 100%;
                text-align: left;
    
                &::after {
                    background-image: url(../img/Icon-feather-chevron-up.svg);
                }
    
                &:not(.collapsed)::after {
                    background-image: url(../img/Icon-feather-chevron-down.svg);
                }
            }
        }

        .accordion-body {
            padding: 40px;
            font-size: 1.6rem;
        }
    }
}